<nav class="navbar">
  <div class="nav-name-container">Hello, <a class="nav-name" href="{% url 'home'%}">{{request.user.first_name}}&nbsp;{{request.user.last_name}}</a></div>
  <div>
    <ul class="">
      <li class="nav-item">
        <a class="" href="{% url 'accounts:notices' %}">Notices</a>
      </li>
      <li class="nav-item">
        <a class="" href="{% url 'accounts:applications' %}">My applications</a>
      </li>
      <li class="nav-item">
        <a class="" href="{% url 'accounts:logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav>